.container-forgotpassUI {
    background-color: #17c0eb;
    height: 580px;
    margin-bottom: 110px;
    align-content: center;
    .card {
      height: 280px;
      margin: auto;
      .card-header {
        h3 {
          color: #17c0eb;
          font-size: 36px;
        }
        span {
          font-size: 14px;
          color: gray;
          display: block;
          text-align: center;
        }
      }
    }
    .card-body {
      .form-group {
        .btn {
          background-color: #17c0eb;
          width: 100%;
          color: #fff;
          padding: 10px;
          font-size: 18px;
          &:hover {
            background-color: #2d3436;
            color: #fff;
          }
        }
  
        input {
          height: 50px !important;
        }
        .form-control:focus {
          border-color: #18dcff;
          box-shadow: none;
        }
      }
    }
  }
  