<div class="container-forgotpassUI">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Forgot Your Password?</h3>
				<span>Please enter your email address and we'll send you <br/> instructions on how to reset your password.</span>
			</div>
			<div class="card-body">
				<form class="pb-3" action="#">
               <div class="form-group mb-4">
                  <input type="email" class="form-control" placeholder="Van.A@email.com"  required>
               </div>
			   <div class="form-group">
            <input type="submit" value="Reset Password" class="btn button">
          </div>
            </form>
			</div>
			
		</div>
	</div>
</div>

